{% extends 'aimagestore/base.html' %}
{% load i18n %}
{% load socialaccount %}
{% load static %}

{% block body_class %}login-page{% endblock %}

{% block custom_styles %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form class="form-login" method="post">

    {% csrf_token %}
    <div class="form-area">
        <p class="data-name">{% trans "Email" %}</p>
        {{ form.email }}
        {% if form.errors.email %}
        <p class="error-message">{{ form.errors.email }}</p>
        {% endif %}
    </div>
    <div class="form-area">
        <p class="data-name">{% trans "Password" %}</p>
        {{ form.password }}
        {% if form.errors.password %}
        <p class="error-message">{{ form.errors.password }}</p>
        {% endif %}
    </div>

    <div class="other-options">
        <a class="login__link" href="{% url 'accounts:register' %}">{% trans "Register" %}</a>
        <a class="login__link" href="{% url 'accounts:email' %}">{% trans "Forgot password?" %}</a>
    </div>

    {% if form.errors and form.non_field_errors %}
    <p>{{form.non_field_errors}}</p>
    {% endif %}

    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    <button class="text-white btn-custom px-6 py-2 rounded-lg hover:border-white border-2 transition duration-300" type="submit">{% trans "Login" %}</button>
</form>

<h3>Google login</h3>
<a href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?client_id=536660690040-qu2jqju4uoh9fhs4i5q4dtcb0a19qvgo.apps.googleusercontent.com&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Fen%2Faccounts%2Fgoogle%2Flogin%2Fcallback%2F&scope=email%20profile&response_type=code&state=nfVeG8eUnfm4gYYW&access_type=online&service=lso&o2v=2&ddm=0&flowName=GeneralOAuthFlow"
    class="text-white btn-custom px-6 py-2 rounded-lg hover:border-white border-2 transition duration-300 inline-block mt-3">
    {% trans "Login with Google" %}</a>

{% endblock %}