{% extends 'aimagestore/base.html' %}
{% load i18n %}
{% load static %}

{% block body_class %}new-password-page{% endblock %}

{% block custom_styles %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="absolute top-[8rem] left-[7rem] transform w-full">
    <form class="form-login max-w-md bg-white/20 shadow-md rounded-lg p-6" method="post">
        {% csrf_token %}

        <h2 class="text-2xl text-white font-extrabold text-center mb-6">{% trans "Change Your Password" %}</h2>

        <div class="form-area mb-6">
            <label for="new_password" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                {% trans "New password" %}
            </label>
            <input type="password" name="new_password"
                   class="appearance-none block w-full bg-transparent border-b border-white-900 text-gray-700 focus:outline-none focus:border-white py-2 px-4 leading-tight">
            {% if form.errors.new_password %}
            <p class="error-message text-red-500 text-xs italic">{{ form.errors.new_password }}</p>
            {% endif %}
        </div>

        <div class="form-area mb-6">
            <label for="confirm_new_password" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                {% trans "Repeat new password" %}
            </label>
            <input type="password" name="confirm_new_password"
                   class="appearance-none block w-full bg-transparent border-b border-white-900 text-gray-700 focus:outline-none focus:border-white py-2 px-4 leading-tight">
            {% if form.errors.confirm_new_password %}
            <p class="error-message text-red-500 text-xs italic">{{ form.errors.confirm_new_password }}</p>
            {% endif %}
        </div>

        <button class="text-white btn-custom w-full px-6 py-2 rounded-lg hover:border-white border-2 transition duration-300"
                type="submit">
            {% trans "Change password" %}
        </button>
    </form>
</div>
{% endblock %}
