{% extends 'aimagestore/base.html' %}
{% load i18n %}
{% block content %}
<form class="form-login" method="post">
    {% csrf_token %}
    <div class="form-area">
        <p class="data-name">{% trans "New password" %}</p>
        {{ form.new_password }}
        {% if form.errors.new_password %}
        <p class="error-message">{{ form.errors.new_password }}</p>
        {% endif %}
    </div>
    <div class="form-area">
        <p class="data-name">{% trans "Repeat new password" %}</p>
        {{ form.confirm_new_password }}
        {% if form.errors.confirm_new_password %}
        <p class="error-message">{{ form.errors.confirm_new_password }}</p>
        {% endif %}
    </div>
    <button class="account-button" type="submit">{% trans "Change password" %}</button>
</form>
{% endblock %}